
#navbar .container h1{
   padding-right: 10px;
}

/* Setion 2 */
#showcase-2 .container .section-text{
    text-align: center;
}

#showcase-2 .container{
    display: flex;
    flex-direction: column;    
}

#showcase-3{
    flex-direction: column;
}

#about-info .container{
    flex-direction: column;
}
#about-info img{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#testimonials .container h2{
    text-align: center;
}
#testimonials .container p{
    padding-left: 10px;
}

.info-box{
    transform: scale(0.7);
}